html { 
line-height: 1.6em; 
}
body {
font-family: arial, sans-serif;
font-size: 100%;
padding:0;
margin:0;
padding:0 2%;
}
#wrapper {
font-size: 0.8em;
max-width: 960px;
margin: 0 auto;
}
.sidebar a, article a, header a, footer a { 
color: #CC3300; 
}

/* HEADER CSS */
header {
padding: 1em 0;
margin: 0px;
float: left;
width: 100%;
}
header a {
text-decoration: none; 
}

/* NAVIGATION CSS */
nav {
display: block;
margin: 0 0 2em;
padding: 0px;
float: left;
width: 100%;
background-color: #181919;
}
nav ul ul {
display: none;
}
nav ul li:hover > ul {
display: block;
}	
nav ul {
padding: 0;
list-style: none;
position: relative;
display: inline-table;
z-index: 9999;
margin: 0px;
float: left;
width: 100%;
}
nav ul:after {
content: ""; 
clear: both; 
display: block;
}
nav ul li {
float: left;
}
nav ul li:hover a {
color: #fff;
}
nav ul li a {
display: block;
padding: 1em;
font-size: 1.125em;
color: #ccc;
text-decoration: none;
margin: 0px;
background-color: #000;
border-right: 1px solid #333;
}
nav ul li:last-of-type a {
border-right: 1px solid transparent !important;
}
nav ul ul {
background: #5f6975;
border-radius: 0px;
padding: 0;
position: absolute;
top: 100%;
width: auto;
float: none;
}
nav ul li:hover {
background: #5f6975;
color: #FFF;
}
nav ul ul li a:hover {
background-color: #4b545f;
}
nav ul ul li {
float: none;
border-bottom: 1px solid #444240;
position: relative;
}
nav ul ul li a {
padding: 0.5em 1em;
font-size: 1em;
width:10em;
color: #fff;
}	
nav ul ul ul {
position: absolute; left: 100%; top:0;
}

/* CONTENT CSS */
section.content {
width: 70%;
float:left;
}
.content article {
width:100%; 
float:left; 
padding: 0 0 1em; 
margin: 0 0 1em; 
border-bottom: 1px solid #ddd; 
text-align:justify;
}
article .entry { 
clear:both; 
padding: 0 0 1em; 
}
article img {  
max-width:100%; 
height:auto; 
}

h1.post-title { 
font-size: 1.8em; 
margin:0; 
padding:0;
}
.entry.post-meta { 
color: #888; 
}
.entry.post-meta span { 
padding: 0 1em 0 0; 
}
.entry.post-content { 
font-size: 1.125em; 
margin:0; 
padding:0;
}
.video-wrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
height: 0;
}
.video-wrapper iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border:0;
}
audio{
width:100%;
}
.fontawesome-icons i{
font-family: 'FontAwesome';
font-size: 2em;
color:black;
margin-right:1em;
padding:0;
}

/* SIDEBAR CSS */
aside.sidebar {
width: 25%; 
float:right; 
}
aside.sidebar ul {
width:100%;
margin: 0px;
padding: 0px;
float: left;
list-style: none;
}
aside.sidebar ul li {
width:100%;
margin: 0px 0px 2em;
padding: 0px;
float: left;
list-style: none;
}
aside.sidebar ul li ul li {
margin: 0px 0px 0.2em;
padding: 0px;
}
aside.sidebar ul li ul li ul li {
margin: 0px;
padding: 0px 0px 0px 1em;
width: 90%;
font-size: 0.9em;
}
aside.sidebar ul li h3.widget-title {
width:100%;
margin: 0px;
padding: 0px;
float: left;
font-size: 1.45em;
}
aside.sidebar ul li .textwidget{
text-align:justify;
}

/* FOOTER CSS */
footer {
width: 98%;
float:left;
padding: 1%;
background-color: white;
margin-top: 2em;
}
footer .footer-left {
width: 45%;
float:left; 
text-align:left; 
}
footer .footer-right { 
width: 45%; 
float:right; 
text-align:right; 
}

/* MEDIA QUERIES */
@media screen and (max-width:770px){
#wrapper { 
font-size: 0.6875em; 
}
section.content, aside.sidebar { 
width:100%;
}
}